html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New";
	height: 100%;
}

:root {
	--primary: #708ae8;
	--white: #fff;
	--black: #393737;
	--light-white: #eaeaea;
	--danger: #ff3d3d;
	--dark: #161f3e;
}

.primaryButton {
	color: var(--white);
	background-color: var(--primary);
}

.secButton {
	background-color: var(--light-white);
	color: var(--primary);
	width: fit-content;
}

.backGround {
	background-color: var(--primary);
	min-height: 100%;
	min-width: 100%;
	position: absolute;
}

.verticalCenter {
	margin: 0;
	min-width: 40%;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.Login {
	padding: 20px;
	border-radius: 5px;
	box-shadow: 2px 2px 35px 2px var(--black);
	background-color: var(--white);
}

.LoginSignupPanel {
	margin-top: 20px;
	margin-bottom: -20px;
}

.formStyles {
	padding: 0 20px;
}

@media all and (max-width: 765px) {
	.formStyles {
		padding: 0px;
	}
}
